:root {
    --colorNavyBlue: #2E2F42;
    --fonWhite: #FFFFFF;
    
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--fonWhite);
    color: #434455;

}

.logo{
        font-weight: 800;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        color: #4D5AE5;
}

.logo-highlight {
    color: var(--colorNavyBlue);
}

.header-nav-list a{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--colorNavyBlue);
    text-decoration: none;
}

.header-contacts-list {
    color: var(--colorNavyBlue);
}
.header-contacts-list:hover, .header-contacts-list:focus{
    font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #404BBF;
}


.button-list-text{
    font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    cursor: pointer;
        color: #4D5AE5;
}
.button-list-text:hover, .button-list-text:focus{
    background-color: #404BBF;
    color: #FFF;
}

.title{
    font-weight: 700;
        font-size: 56px;
        line-height: 60px;
        color: #FFFFFF;
}
.feature-title{
    font-weight: 500;
    font-size: 20px;
    color: var(--colorNavyBlue);
}
.feature-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #434455;
}
.section-header{
    font-weight: 700;
font-size: 36px;
line-height: 40px;
color: var(--colorNavyBlue);
}
   


.card-header{
font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--colorNavyBlue);
}
.card-text{
font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}
.footer-text{
font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}
.footer{
   background-color: var(--colorNavyBlue);
}
.logo-studio{
    color: #F4F4FD;
}


